:root {
    /* Colors */
    /* Primary Colors */
    --clr-red: hsl(0, 78%, 62%);
    --clr-cyan: hsl(180, 62%, 55%);
    --clr-orange: hsl(34, 97%, 64%);
    --clr-blue: hsl(212, 86%, 64%);
    /* Neutral Colors */
    --clr-dk-blue: hsl(234, 12%, 34%);
    --clr-gr-blue: hsl(229, 6%, 66%);
    --clr-lght-gray: hsl(0, 0%, 98%);
  }
  
  body {
    margin: 0;
    font-size: 0.94rem;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  /* Containers */
  /* Heading Section */
  #header {
    text-align: center;
    margin: 3rem 2rem 1rem 2rem;
    max-width: 90vw;
  }
  
  /* Main Section */
  .cards-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 2rem 5rem 2rem;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
  }
  
  .card {
      text-align: center;
    background-color: rgb(32, 31, 31);
    box-shadow: 0px 8px 23px 3px rgba(13, 9, 255, 0.178) ;
    border-radius: .5rem;
    overflow: hidden;
    margin: 1rem;
    width: 25vw;
  }
  
  .colored-sec {
    height: .25rem;
  }

  .supervisor {
    background-color: var(--clr-cyan);
  }
  
  .team {
    background-color: var(--clr-red);
  }
  
  .karma {
    background-color: var(--clr-orange);
  }
  
  .calculator {
    background-color: var(--clr-blue);
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .card-footer {
    text-align: center;
  }
  
  /* Text Section */
  h1, h2, h3 {
    color: rgb(255, 166, 0);
    margin-top: 0;
    margin-bottom: 0;
  }
  
  p {
    color: var(--clr-gr-blue);
  }
  
  .main-heading {
    font-weight: 200;
    font-size: 2.3rem;
  }
  
  .additional-heading {
    font-weight: 600;
    font-size: 2.3rem;
    display: block;
  }
  
  .paragraph-heading {
    font-size: 1.9rem;
  }

  
  .main-paragraph {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    width: 35rem;
  }
  
  .sec-paragraph {
    font-size: 1.2rem;
    margin-right: .5rem;
    margin-bottom: 2rem;
  }

a{
    text-decoration: none;
}

@media (max-width: 768px) {
  #het{
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  #het{
    font-size: 20px;
  }
}
  
  /* Media Queries */
  @media (max-width: 750px) {
    .cards-section {
      flex-direction: column;
    }
  
    .card {
      width: 85vw;
    }
  
    .main-paragraph {
      width: auto;
    }
  
    .main-heading, .additional-heading {
      font-size: 1.3rem;
    }
  }

  .header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
    color: black;
    background-color: black;
  }
  .header.header-scrolled {
    color: white;
    background: rgb(0, 0, 0);
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  }
  .header .logo {
    line-height: 0;
  }
  .header .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  .header .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: orange;
    font-family: "Oswald", sans-serif;
    margin-top: 3px;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar li {
    position: relative;
  }
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
    transition: 0.3s;
  }
  .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: rgb(245, 54, 229);
  }
  .navbar .getstarted, .navbar .getstarted:focus {
    background: #ff9d00;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: black;
  }
  .navbar .getstarted:hover, .navbar .getstarted:focus:hover {
    color: #fff;
    background: #5969f3;
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: black;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #fa65ff;
  }
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: orange;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 22, 61, 0.9);
    transition: 0.3s;
  }
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    overflow-y: auto;
    transition: 0.3s;
  }
  .navbar-mobile a, .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: orange;
  }
  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #ff9bf7;
  }
  .navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: rgb(0, 0, 0);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #ff9bf7;
  }
  .navbar-mobile .dropdown > .dropdown-active {
    display: block;
  }
  
#downloadbtn{
    background-color: orange;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    left: 0px;
    border: 2px solid orange;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
}